{% extends 'menu.html'%}

{% block title %}Editar Alumno{% endblock %}
{% block content %}
<h2 style="text-align:center;" >Editar los datos del Alumno</h2>
<div class="card" style=" margin: 20px 410px 20px;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXbJaHgqj2ZF3Jr_nSFEbJPRh0wBEaz1DE9Q&usqp=CAU" class="card-img-top" alt="...">
    <p></p>
    {% if form %}
        <form action="" method="POST">
            {% csrf_token %}

            <table>
                {{form.as_table}}
            </table>
            <p></p>
            <input type="submit" value="Guardar">
        </form>
    {% endif %}
    {% if form_errores %}
        <h2 style="color: red;">Errores:</h2>
        {{form_errores}}
    {% endif %}
    {% if mensaje %}
        <h2 style="color: green;">{{mensaje}}</h2>
    {% endif %}
</div>
{% endblock %}