{% extends 'menu.html'%}

{% block title %}Loguearte{% endblock %}
{% block content %}
<h2 style="text-align:center;" >Ingresar los datos del Alumno</h2>
<div class="card" style=" margin: 20px 410px 20px;">
    <p></p>
    {% if form %}
        <form action="" method="POST">
            {% csrf_token %}

            <table>
                {{form.as_table}}
            </table>
            <p></p>
            <input type="submit" value="Ingresar">
        </form>
    {% endif %}
</div>
{% endblock %}