{% extends 'menu.html'%}

{% block title %}Editar Usuario{% endblock %}
{% block content %}
<h2 style="text-align:center;" >Ingresar los datos del Usuario</h2>
<div class="card" style=" margin: 20px 410px 20px;">
    <p></p>
    {% if form %}
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <p></p>
            <input type="submit" value="Actualizar">
        </form>
    {% endif %}
    {% if errors %}
        {{errors}}
    {%endif%}
    {% if mensaje %}
        <h2>{{mensaje}}</h2>
    {% endif %}
    
</div>
{% endblock %}